pyrogram
heroku3
art
bs4
html5lib
requests
GitPython
holidays
schedule
pycountry
better_profanity
sqlalchemy==1.2
translate
textblob
telegraph
pandas
apscheduler
coffeehouse
Pillow
PyDictionary 
wkhtmltopdf
imgkit
psycopg2
pyautogui
